@model IEnumerable<TrabalhoPraticoPWeb1718.Models.ModelosBD.Pai>

@{
    ViewBag.Title = "Pais";
}

<h2>Pais</h2>

<p>
    @Html.ActionLink("Cria novo pai", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidade)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PaiId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PaiId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.PaiId })
        </td>
    </tr>
}

</table>
